.brands {
    margin-bottom: 245px;
    
        &__header {
            margin-bottom: 125px;
            text-align: center;

            &-title {
                margin-bottom: 25px;
                font-size: 48px;
                color: var(--color-dark-alt);
            }

            &-description {
                font-size: 24px;
                color: var(--color-gray-alt);
            }
        }
}