:root {
    --color-light: #ffffff;
    --color-light-transparent: rgba(255, 255, 255, 0.5);
    --color-light-alt: #F4F4F4;
    --color-gray: #AAAAAA;
    --color-light-gray: #E5E5E5;
    --color-gray-alt: #4A4A4A;
    --color-gray-brown: #2B2B2B;
    --color-dark: #000000;
    --color-dark-alt: #1A1A1A;
    --color-green: #46856E;

    --border: 1px solid #e0e0e0;
    --border-input: 1px solid var(--color-light-transparent);
    --border-radius: 3px;

    --font-family-base: 'Roboto', sans-serif;

    --container-width: 1200px;
    --container-padding-x: 25px;

    --input-height: 50px;

    --transition-duration: 0.3s;
}